.flexWeather-temperature {
  display: flex;
  gap: 10px;
  gap: 5px 10px;
  row-gap: 5px;
  column-gap: 10px;
}

.body {
  background-image: src= "b4road.jpg";
  background-attachment: fixed;
}

h1 {
  color: #5189d3;
  font-family: "Bebas Neue", cursive;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: rgb(207, 95, 85);
  font-family: "Bebas Neue", cursive;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-temp {
  text-align: right;
  vertical-align: top;
  flex-direction: column;
}

.weather-app {
  padding: 20px;
  border: 1px solid #87b3ec;
  border-radius: 5px;
  background-color: honeydew;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px 0 auto;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  display: inline-block;
  height: 60px;
  margin-right: 5px;
  vertical-align: top;
  font-size: 64px;
  font-weight: 400;
  line-height: 1.5;
  width: 60px;
}

.weather-temperature strong {
  color: rgb(240, 203, 21);
  font-size: 14px;
}

.weather-temperature .units {
  font-size: 10px;
  top: -34px;
  color: black;
}

.weather-temperature .active {
  color: black;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
