body {
  background-image: url("r4od.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

h1 {
  color: #5189d3;
  font-family: "Bebas Neue", cursive;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: rgb(207, 95, 85);
  font-family: "Bebas Neue", cursive;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app {
  padding: 20px;
  border: 1px solid #87b3ec;
  border-radius: 5px;
  background-color: honeydew;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  display: inline-block;
  height: 60px;
  margin-right: 5px;
  vertical-align: top;
  font-size: 64px;
  font-weight: 400;
  line-height: 1.5;
  width: 60px;
}

.weather-temperature strong {
  color: rgb(240, 203, 21);
  font-size: 14px;
}

.weather-temperature .units {
  font-size: 10px;
  top: -34px;
  color: black;
}

.info-temp {
  display: block;
  top: -34;
}

.weather-temperature .active {
  color: black;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.signature {
  color: aliceblue;
}
