body {
  background-image: url("road.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.col-6.row {
  bs-gutter-x: 2.5rem;
}

.flexWeather-temperature-d-flex.row {
  margin-top: calc(2 * var(--bs-gutter-y));
  margin-right: calc(2 * var(--bs-gutter-x));
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

h1 {
  color: #1b6be4;
  font-family: "Bebas Neue", cursive;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: #f71111e9;
  font-family: "Bebas Neue", cursive;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app {
  padding: 20px;
  border: 1px solid #c73e3ee9;
  border-radius: 5px;
  background-color: hsla(60, 92%, 62%, 0.604);
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  display: inline-block;
  height: 60px;
  margin-right: 5px;
  vertical-align: top;
  font-size: 64px;
  font-weight: 400;
  line-height: 1.5;
  width: 60px;
}

.weather-temperature strong {
  color: rgb(115, 180, 227);
  font-size: 14px;
}

.units {
  display: inline-block;
  margin-left: -1px;
  font-size: 10px;
  top: -40px;
  color: rgb(41, 95, 246);
}

.col-2 {
  margin-top: 30px;
  text-align: center;
  font-style: bold;
  color: floralwhite;
  font-size: 20px;
}

span.weather-forecast-temperature-min {
  opacity: 0.6;
  font-size: 8px;
  color: hwb(229 2% 0%);
  font-style: oblique;
}

.weather-forecast-temp {
  font-size: 12px;
  color: #ff4000;
}

small {
  color: rgb(244, 247, 72);
}
