body {
  background-image: url("road.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

h1 {
  color: #1b6be4;
  font-family: "Bebas Neue", cursive;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: #f71111e9;
  font-family: "Bebas Neue", cursive;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app {
  padding: 20px;
  border: 1px solid #c73e3ee9;
  border-radius: 5px;
  background-color: rgba(237, 235, 209, 0.552);
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  display: inline-block;
  height: 60px;
  margin-right: 5px;
  vertical-align: top;
  font-size: 64px;
  font-weight: 400;
  line-height: 1.5;
  width: 60px;
}

.temperature strong {
  color: rgb(115, 180, 227);
  font-size: 14px;
}

.units {
  display: inline-block;
  margin-left: -1px;
  font-size: 10px;
  top: -40px;
  color: rgb(87, 95, 241);
}

.weather-forcast {
  margin-top: 20px;
  text-align: center;
  color: rgb(49, 144, 36);
}

.weather-forcast-date {
  font-size: 16pc;
  opacity: 0.6;
}

.weather-forcast-temperatre-min {
  opacity: 0.6;
}

.weather-forcast-temperatres {
  font-size: 13px;
}

small {
  color: rgb(244, 247, 72);
}
